

@keyframes bgTransition {
  from {
    background-color: hsla(200, 100%, 20%);
  }
  to {
    background-color: hsla(200, 100%, 20%);
  }
}
/*
@keyframes slideLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
@keyframes slideDown {
  0% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
*/
@keyframes moveText {
  from {
    top: -20%;
  }
  to {
    top: 40%;
  }
}


body {
  padding: 0;
  margin: 0;
  background-color: orange;
  animation: bgTransition 2s ease-in-out 0s 1 forwards;

  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: center;
}
.youtube {
  position: fixed;
  top: 40%;
  left: 10%;
  background-color: orange;
  padding: 16px 16px;
  border-radius: 16px;

  font-family: "Nunito", sans-serif;
  font-size: 30px;
}

div.textHi {
  font-size: 30px;
  position: fixed;
  top: -20%;
  right: 50%;
  animation: moveText 1.3s ease-in-out 0.3s 1 forwards;
}


@keyframes moveRects {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}
.rect1 {
  background-color: red;
  position: fixed;
  height: 50px;
  width: 50px;
  top: 70%;
  left: 0%;
}

.animateButton {
  position: fixed;
  top: 20%;
  left: 10%;
  background-color: orange;
  padding: 16px 16px;
  border-radius: 16px;

  font-family: "Nunito", sans-serif;
  font-size: 30px;
}
.animateButton:hover {
  transform: scale(1.1);
}
.animateButton:focus + .rect1 {
  background-color: seagreen;
  animation: moveRects 3s ease-in-out 0s 1 forwards;
}

